<div class="candy-container">
  <button class="pixel-btn-volver" (click)="volver()">← VOLVER</button>

  <h2 class="candy-title">🍿 CANDY BAR 🍿</h2>

  <div class="candy-grid">
    @for (prod of productos(); track prod.id) {
      <div class="pixel-card-candy">
        <img [src]="prod.imagen" [alt]="prod.nombre" class="prod-img" />
        <h3 class="prod-name">{{ prod.nombre }}</h3>
        <p class="prod-precio">$ {{ prod.precio }}</p>
        
        <div class="contador-box">
          <button class="pixel-btn-count" (click)="cambiarCantidad(prod.id, -1)">-</button>
          <span class="cantidad-num">{{ prod.cantidad }}</span>
          <button class="pixel-btn-count" (click)="cambiarCantidad(prod.id, 1)">+</button>
        </div>
      </div>
    }
  </div> 

    @if (combos().length > 0) {
    <h3 class="combos-title">⭐ COMBOS DESTACADOS ⭐</h3>
    <div class="candy-grid combos-grid">
      @for (combo of combos(); track combo.id) {
        <div class="pixel-card-candy pixel-card-combo">
          <h3 class="prod-name">{{ combo.nombre }}</h3>
          <p class="combo-incluye">
            Incluye:
            @for (item of combo.combo_items; track item.candy.id; let ultimo = $last) {
              {{ item.cantidad }}x {{ item.candy.nombre }}@if (!ultimo) {, }
            }
          </p>
          <p class="prod-precio">$ {{ combo.precio }}</p>

          <div class="contador-box">
            <button class="pixel-btn-count" (click)="cambiarCantidadCombo(combo.id, -1)">-</button>
            <span class="cantidad-num">{{ combo.cantidad }}</span>
            <button class="pixel-btn-count" (click)="cambiarCantidadCombo(combo.id, 1)">+</button>
          </div>
        </div>
      }
    </div>
  }


 <div class="resumen-candy">
    <p>Total Candy: $ {{ calcularTotal() }}</p>
    
    <div class="botones-accion">
      <button class="pixel-btn-saltar" (click)="saltarCandy()">SALTAR</button>
      <button class="pixel-btn-pagar" (click)="continuarPago()">PAGAR</button>
    </div>
  </div>
</div>