<div class="perfil-container">
  <button class="pixel-btn-volver" (click)="volverInicio()">← VOLVER A INICIO</button>
  
  <div class="perfil-card">
    <h1 class="perfil-title">👾 PERFIL DE USUARIO 👾</h1>

    <div class="user-info">
      <p><strong>NOMBRE:</strong> {{ nombre() }} {{ apellido() }}</p>
      <p><strong>EMAIL:</strong> {{ email() }}</p>
       <!--  <p><strong>ROL:</strong> {{ rol() }}</p> -->
      <p><strong>FECHA DE NACIMIENTO:</strong> {{ fechaNacimiento() }}</p>
      <p><strong>TIPO DE SANGRE:</strong> {{ tipoSangre() }}</p>
      <p><strong>COLOR DE OJOS:</strong> {{ colorOjos() }}</p>
      
      <div class="fidelizacion-box">
        <span class="puntos-badge">⭐ PUNTOS ROXI'S CLUB: {{ puntos() }} PTS</span>
        <p class="puntos-desc">¡Canjeá tus puntos por un combo de pochoclos gratis en el Candy Bar!</p>
      </div>
    </div>

    <div class="historial-section">
      <h3 class="section-title">🎬 MIS PELÍCULAS</h3>

      <div class="mis-peliculas-grid">
        @for (item of historialEntradas(); track item.peliculaId + item.fecha) {
          <div class="mini-poster-card">
            @if (item.imagen) {
              <img [src]="item.imagen" [alt]="item.pelicula" class="mini-poster" />
            }
            <h4 class="mini-poster-title">{{ item.pelicula }}</h4>
            <p class="mini-poster-fecha">{{ item.fecha }}</p>
            @if (item.miCalificacion) {
              <p class="mini-poster-estrellas">{{ '⭐'.repeat(item.miCalificacion) }}</p>
            } @else {
              <p class="mini-poster-sin-calificar">Todavía no la calificaste</p>
            }
          </div>
        } @empty {
          <p style="color: #888; font-size: 15px;">No tenés películas en tu historial todavía.</p>
        }
      </div>
    </div>
  </div>
</div>